h1.splash-head, h2.splash-head {
    font-size: 130%;
    text-align: center;
    background: #eee;
    color: #202079;
}
h2.splash-head {
    font-size: 85%;
    background: #eee;
    color: #777; 
    padding-left: 5px; 
}
h2.splash-head span.date {
    text-align: center;
    color: #b00;
}
h3 { padding-left: 10px; font-size: 85%; }
h4 { font-size: 85%; }
.tholder { float: left; }
table { font-size: 65%; margin-left: 5px; margin-right: 5px; }
.pure-table thead { background: #A86D6D; color: #eee; }
tr { height: 20px; }
.pure-table th,
.pure-table td { border: 0; padding: 3px 6px; }
.pure-table .good16,
.pure-table .good15,
.pure-table .good14,
.pure-table .good13,
.pure-table .good12,
.pure-table .good11,
.pure-table .good10,
.pure-table .good9,
.pure-table .good8,
.pure-table .good7 { margin: 1px; border: 1px solid #fff; background: #ded; }
.pure-table .good6 { margin: 1px; border: 1px solid #fff; background: #ded; }
.pure-table .good5 { margin: 1px; border: 1px solid #fff; background: #DDF7D5; }
.pure-table .good4 { margin: 1px; border: 1px solid #fff; background: #BBEEAA; }
.pure-table .good3 { margin: 1px; border: 1px solid #fff; background: #99E680; }
.pure-table .good2 { margin: 1px; border: 1px solid #fff; background: #77DD55; }
.pure-table .good1 { margin: 1px; border: 1px solid #fff; background: #55D52B; }

.colplus { width: 2px; background: #007F16; }
.colmed { width: 2px; background: #BF7530; }
.colminus { width: 2px; background: #A60C00; }

.cont { position: auto; border: 1px solid #eee; width: 64px; height: 12px; background: #fff; }
.gline {
  float: left;
  background: #fff;
  width: 2px;
  margin-right: 1px; 
}
.vline { float: left; height: 6px; width: 1px; }
.hash { width: 100%; height: 6px; }
.hashR { background: #a00; }
.hashG { background: #080; }
.hashN { background: #ffb700; }
.hashW { ; }


.timing { float: left; clear: both; background: #ddd; }